
extends layout

block append vars
  - bodyclass = 'article-detail'
    
block prepend title
  | #{ page.title + " - "}

block header
  include author
  h1= page.title
  p.author
    | #{ "Written by " }
    mixin author(page.metadata.author)

block content
  article.article        
    section.content!= typogr(page.html).typogrify()
  //- Thanks to http://www.sharelinkgenerator.com/
  ul.share
    - var page_url = page.getUrl(url)
    - var page_title = encodeURI(page.title)
    - var page_sumary = encodeURI(page.view)
    - var show_popup = "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
    
    li.share-googleplus
      a(href="https://plus.google.com/share?url=" + page_url, onclick=show_popup) Google+
    
    li.share-twitter
      a(href="https://twitter.com/home?status=" + page_url, onclick=show_popup) Twitter
    
    li.share-facebook
      a(href="https://www.facebook.com/sharer/sharer.php?u=" + page_url, onclick=show_popup) Facebook
    
    li.share-linkedin
      a(href="https://www.linkedin.com/shareArticle?mini=true&url=" + page_url + "&title=" + page_title + "&summary=" + page_sumary + "&source=" + locals.name, onclick=show_popup) Linkedin

  if locals.integrations.disqus
    div#disqus_thread

    script.
      //- Disqus code snippet
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//#{locals.integrations.disqus}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
